<!-- Partie Header user -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="post/index">Hack OverFlow</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link <?php if($active == 'ask') echo 'active'; ?> " href="post/ask">Ask a question<span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item">
          <a class="nav-link <?php if($active == 'question') echo 'active'; ?> " href="post/index">Questions<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <?php if($active == 'profile') echo 'active'; ?> " href="user/profile"><?= $_SESSION['user']->getUserName(); ?></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="user/logout">Logout<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>